@media print {
    .print-button {
        display: none;
    }
}

/* Footer styles */
.footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}

    /* Add more styles for the footer content as needed */
    .footer p {
        margin-bottom: 5px;
    }
