@model IEnumerable<ApplicationUser>

@if (Model != null)
{
    <h1>List of Users</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        @if (user.ProfilePictureData != null)
                        {
                            
                            <img src="data:@user.ProfilePictureContentType;base64,@Convert.ToBase64String(user.ProfilePictureData)" alt="Profile Picture" class="img-thumbnail" />
                        }
                        else
                        {
                            <p>No profile picture available.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no users to display.</p>
}
